<% title "Person" %>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>
<p>
  <strong>Points:</strong>
  <%= @person.points %>
</p>

<p>
  <%= link_to "Edit", edit_person_path(@person) %> |
  <%= link_to "Destroy", @person, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", people_path %>
</p>
