<% title "Fika" %>
<script text="text/javascript">

</script>

<table>
  <tr>
    <th>Name</th>
    <th>Points</th>
  </tr>
  <% for person in @people %>
	<%= form_for Change.new do |f| %>
	<%= f.hidden_field :person_id, :value => person.id %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.points %></td>
	  <td><%= f.text_field :points, :size => 4 %></td>
	  <td><%= f.submit "Lägg till poäng" %></td>
	  
    </tr>
	<% end%>
  <% end %>
</table>

<h3>Log</h3>

<table>
  <tr>
	<th>Tidpunkt</th>
    <th>Person</th>
    <th>Ip</th>
	<th>Points</th>
  </tr>
  <% for change in @changes %>
    <tr>
	  <td><%= change.created_at %></td>
      <td><%= change.person.name %></td>
      <td><%= change.nice_ip %></td>
      <td><%= change.points %></td>
    </tr>
  <% end %>
</table>